@model DayBook.Models.Pagination.IndexViewModel
@using DayBook.Models.Pagination;

@{
    ViewBag.Title = "SearchedItems";
}

<h2>SearchedItems</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Records)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model.Records)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DayRecord)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.DayBookModelId }) |
                @Html.ActionLink("Details", "Details", new { id = item.DayBookModelId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.DayBookModelId })
            </td>
        </tr>
    }
</table>